a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: black;
}

.menu {
    padding: 10px 10px;
    margin: 0px;
}

.sub-menu {
    padding-left: 20px;
}

.menu li {
    list-style-type: none;
}

.menu {
    background-color: rgb(52, 55, 59);
}

.menu .menu-active {
    color: rgb(168, 4, 4)
}

.menu span {
    cursor: pointer;
}